[submodule "packages/masp-anchor-contracts/lib/prb-test"]
	path = packages/masp-anchor-contracts/lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "packages/masp-anchor-contracts/lib/openzeppelin-contracts"]
	path = packages/masp-anchor-contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/masp-anchor-contracts/lib/forge-std"]
	path = packages/masp-anchor-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-fixtures"]
	path = solidity-fixtures
	url = https://github.com/webb-tools/solidity-fixtures.git
[submodule "packages/masp-anchor-contracts/lib/abdk-libraries-solidity"]
	path = packages/masp-anchor-contracts/lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity